*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}
body{
    background: url(img/bg-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    background-color: #0C122C;
    height: 110vh;
    overflow: hidden;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
.container .box{
    width: 440px;
    height: 250px;
    background: #1E2C69;
    border-radius: 0 10rem 0 0;
    padding: 40px;
}
.container .box img{

    width: 170px;
    margin-bottom: 30px;
}
.box .box-file{
    display: flex;
    column-gap: 20px;


}
.box .box-file img{
    width: 50px;
    height: 50px;
    background: #0C122B;
    border-radius: 10px;
    padding: 14px;
    color: #6A7ED4;
    
    
    
}
.box1{
    margin-left: 40px;
    margin-top: 65px;
    width: 670px;
    height: 185px;
    background: #1E2C69;
    padding: 50px 50px;
    border-radius: 10px;
    color: rgb(177, 172, 172);
    position: relative;

}
.box1 h4{
    position: absolute;
    padding: 20px 40px;
    top: -50px;
    right: 80px;
    color: black;
    font-size: 50px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 10px;
    
}
.box1 h4::before{
    position: absolute;
    content: "";
    background: #fff;
    width: 40px;
    height: 40px;
    right: 0;
    bottom: 0;
    transform: skew(180deg , 34deg);
}
.box1 h4 span{
    font-size: 10px;
    color: gray;
    margin-left: 10px;
}
.box1 p > span{
    color: white;
}
.prog-bar{
    width: 1000px;
    margin-top: 20px;
    height: 25px;
    border-radius: 30px;
    background: #151E49;
    width: auto;
    position: relative;
}
.prog-bar i{
    position: absolute;
    right: 29.2%;
    top: 7px;
    color: white;
    font-size: 12px;
}
.prog-bar::before{
    content: "";
    background: linear-gradient(to right ,hsl(6,100% , 80%) , hsl(335,100%, 65%));
    position: absolute;
    width: 400px;
    height: 18px;
    top: 4px;
    left: 5px;
    border-radius: 30px;
}
.text{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    color: #fff;
    
}
@media screen and (max-width:960px){
    body,html{
        background: url(img/bg-mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        overflow: hidden;
        
    }
    .container{
        display: flex;
        flex-direction: column;

    }
    .box{
        max-width: 370px;
        max-height: 225px;
        border-radius: 10px 125px 10px  10px  !important;
    }
    .box1{
        max-width: 370px;
        max-height: 225px;
        margin: 20px 0 0 0 !important;
    }
    .box1 h4{
        position: absolute;
        padding: 20px 40px;
        top: 150px;
        right: 80px;
        color: black;
        font-size: 50px;
        display: flex;
        align-items: center;
        background: #fff;
        border-radius: 10px !important;
        
    }
    .box1 h4::before{
        display: none;

    }
    .prog-bar::before{
        width: 189px;
        height: 18px;
        top: 4px;
        left: 5px;
        border-radius: 30px;
    }
}